mixin section-best(data)
    .section-best
        .container
            h2.best-text__title «Дом интернет» — лучший агрегатор интернета в России
            .section-best__wrap
                .section-best__wrap-col
                    .best-text
                        p.best-text__text #[b С помощью него] можно легко подключить быстрый и надежный домашний интернет и ТВ по вашему адресу. 
                        p.best-text__text #[b «Дом интернет»] — самый большой агрегатор интернета в России. Мы сотрудничаем со всеми крупнейшими федеральными и региональными провайдерами. От них мы постоянно получаем информацию об обновлениях в тарифах и о подключении новых адресов и населенных пунктов. Проверяя тарифы по адресу вы получаете актуальную информацию. 
                        p.best-text__text #[b Наши специалисты] всегда готовы вам помочь с выбором интернета. Они расскажут про различные технологии подключения, подберут нужным вам тариф и помогут настроить оборудование. 
                        p.best-text__text Стоимость тарифов на агрегаторе указана #[b без наценок и переплат], так же как и на сайтах провайдеров. Подключая интернет через агрегатор вы не переплачиваете ни рубля.
                .section-best__wrap-col
                    .best-icon
                        each item in data.items
                            .best-card
                                .best-card__img
                                    +svg(item.icon)
                                p.best-card__text!= item.body_text



