$pfx: "section-best";

.#{$pfx} {
    background: #FBFBFB url(../../s/images/useful/svg/bg-best.svg) no-repeat;
    background-position: right center;
    background-size: contain;
    padding: 80px 0;
    margin-bottom: 45px;

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .best-icon {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 40px;
        margin-top: -100px;
    }

    .best-text__title {
        width: 40%;
    }

    @media (max-width: $sw-sm-max) {
        .best-text__title {
            width: 100%;
        }

        .best-icon {
            margin-top: 0;
        }

        .best-card {
            width: 153px;
        }

        .best-card__text {
            font-size: 19px;
        }

        .best-icon {
            gap: 15px;
        }
    }

    @media (max-width: $sw-xs-max) {
        padding-bottom: 0;
        background: $white;

        &__wrap {
            grid-template-columns: 100%;

            &-col {
                &:last-child {
                    display: none;
                }
            }
        }
    }
}

.best-text {
    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 30px;

        b {
            color: #2E358F;
        }
    }
}

.best-card {
    width: 240px;
    height: 240px;
    background: $white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 40px 15px 0 15px;
    text-align: center;

    &__img {
        margin-bottom: 15px;
        text-align: center;

        svg {
            width: 5em;
            height: 5em;
        }
    }

    &__text {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 24px;
    }
}