mixin providers-list(data)
	.providers-list
		.container
			.section-title__wrap
				h2.section-title!= data.title
			.providers-list__inner
				.providers-list__item
					a(href="javascript:void(0)")
						img(src="s/images/useful/providers/tele2.png", alt="logo")
				.providers-list__item
					a(href="javascript:void(0)")
						img(src="s/images/useful/providers/rostelecom.png", alt="logo")
				.providers-list__item
					a(href="javascript:void(0)")
						img(src="s/images/useful/providers/beeline.png", alt="logo")
				.providers-list__item
					a(href="javascript:void(0)")
						img(src="s/images/useful/providers/mtc.png", alt="logo")
				.providers-list__item
					a(href="javascript:void(0)")
						img(src="s/images/useful/providers/yota.png", alt="logo")
				.providers-list__item
					a(href="javascript:void(0)")
						img(src="s/images/useful/providers/megaphone.png", alt="logo")
			a.providers-list__see-all(href="javascript:void(0)") Cмотреть всех провайдеров