.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  flex-shrink: 0;
}
.icon-address {
  width: 0.9423828125em;
}
.icon-arrow {
  width: 2.1728515625em;
}
.icon-chevron {
  width: 1.9501953125em;
}
.icon-chevron-sm {
  width: 1.7333984375em;
}
.icon-help {
  width: 0.828125em;
}
.icon-list {
  width: 1.2783203125em;
}
.icon-location {
  width: 0.4169921875em;
}
.icon-person {
  width: 1.04296875em;
}
.icon-phone {
  width: 0.990234375em;
}
.icon-piggy_bank {
  width: 1.0576171875em;
}
.icon-slider-arrow {
  width: 0.533203125em;
}
.icon-tv {
  width: 1.41025641025641em;
}
.icon-wifi {
  width: 1.367088607594937em;
}
.icon-burger {
  width: 1.5654296875em;
}
.icon-wifi-sm {
  width: 1.367088607594937em;
}
.logo {
  width: 137px;
  height: 39px;
}