mixin review-section(data)
	.review-section
		.container
			.review-inner
				.review-content
					.review-content__top
						.review-content__topic
							h1.review-content__title Обзор провайда “Ростелеком”
							.review-content__topic__logo
								img(src="s/images/useful/providers/rostelecom.png", alt="rostelecom")
						.review-content__top__info
							span.review-content__date 15 января 2019
							.review-content__person
								.review-content__person__img
									img(src="s/images/useful/person.jpg", alt="person")
								span.review-content__person__name Холод Сергей
							.review-content__top__rating
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star')
								+svg('icon-star')
								span.review-content__top__rating__val 3.2
					.review-content__rating
						.review-content__rating__block
							span.review-content__rating__block__title Интернет
							span.review-content__rating__block__stars
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
							span.review-content__rating__block__val 2.3
						.review-content__rating__block
							span.review-content__rating__block__title Техподдержка
							span.review-content__rating__block__stars
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
							span.review-content__rating__block__val 3.5
						.review-content__rating__block
							span.review-content__rating__block__title Сервис
							span.review-content__rating__block__stars
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
							span.review-content__rating__block__val 4.0
						.review-content__rating__block
							span.review-content__rating__block__title Оборудование
							span.review-content__rating__block__stars
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
								+svg('icon-star-filled')
							span.review-content__rating__block__val 3.9
					.review-content__text(id="review_section")
						h2.review-content__text__title Обзор
						p Virgin Media предоставляет самый быстрый и доступный широкополосный доступ в Великобритании. Его просто нельзя обыграть по скорости. Но хороший широкополосный сервис не зависит только от скорости. Есть и другие факторы. В целом, хорош ли широкополосный канал Virgin?
						table.review-content__text__table
							tr
								td Средняя скорость загрузки
								td 362Мбит
							tr
								td Скорость загрузки
								td 21Мбит
							tr
								td Широкополосный
								td волокно
							tr
								td Домашний телефон
								td Да
							tr
								td Цифровое ТВ
								td Да
							tr
								td Цена от
								td 590₽
					.review-content__text(id="broadband_speeds_section")
						h2.review-content__text__title Широкополосные скорости
						p Virgin Media - это скорость. Он намного опережает максимальные скорости, предлагаемые такими компаниями, как BT и Sky, с его лучшим пакетом VIVID, предлагающим среднюю скорость 362 Мбит / с. По данным Ofcom, Virgin Media предлагает максимальные скорости в Великобритании, и никто не спорит.
						p Даже самый медленный продукт Virgin быстрее, чем многие «быстрые оптоволоконные» сделки от других британских поставщиков.
						p Другие VIVID предложения широкополосного доступа предлагают среднюю скорость 108 Мбит / с, 213 Мбит / с и 350 Мбит / с. Это молниеносные скорости. В любом из этих пакетов вы могли бы быть заняты домашним хозяйством, транслирующим несколько фильмов, играть в игры, заниматься старым добрым серфингом, и у вас еще осталось бы много.
						p Преимущество Virgin Media в том, что вы скорее получите скорость, за которую платите, чем с другими провайдерами. Данные Ofcom за 2017 год показывают, что те, кто заключает основные сделки с широкополосной связью (ранее показывали скорость до 17 Мбит / с), в среднем достигают лишь 8,4 Мбит / с в часы пик. Клиенты Virgin Media со скоростью 50 Мбит / с получают в среднем 54 Мбит / с.
						h3.review-content__text__title_sm Скорость загрузки
						p Средняя скорость загрузки по сделке Virgin 50 МБ составляет 3,04 Мбит / с, а 5,99 Мбит / с - по 100 МБ. Даже в пакете 362 МБ вы получите только скорость загрузки в среднем 20,6 Мбит / с (все скорости указаны для февраля 2018 года и взяты из панели высокопроизводительной широкополосной связи Virgin Media на базе SamKnows).
						p Для сравнения, в оптоволоконной сети начального уровня Plusnet скорость передачи данных составляет в среднем 9,5 Мбит / с, а скорость передачи на уровне 19 Мбит / с вы можете получить в своем топовом оптоволоконном пакете.
						p Имеют ли значение скорости загрузки? С большинством задач нет. Однако зависание в ожидании загрузки фотографий или отправки больших писем может быть довольно неприятным.
					.review-content__text(id="router_and_installation_section")
						h2.review-content__text__title Маршрутизатор и установка
						h3.review-content__text__title_sm Маршрутизатор
						.review-content__text__block-wrap
							.review-content__text__block
								p На наш взгляд, роутер Virgin Media впечатляет. Все клиенты широкополосного доступа получают один и тот же маршрутизатор: Hub 3.0. Некоторые другие провайдеры, такие как BT, с другой стороны, предлагают низкоуровневый маршрутизатор для своих пакетов начального уровня, то есть, если вы хотите обновить или понизить версию, вам может потребоваться другой набор.
								p Hub 3.0 обеспечивает сверхбыструю скорость Wi-Fi, которая остается высокой при загрузке различных устройств. Он также имеет фантастический диапазон, поэтому идеально подходит для больших домов. Вы также можете оставаться в безопасности в Интернете с помощью прилагаемой технологии безопасности: Web Safe, F-Secure SAFE ™ и родительского контроля.
							.review-content__text__image
								img(src="s/images/useful/img15.jpg", alt="img")
						h3.review-content__text__title_sm Установка
						p Вам нужно будет заплатить комиссию за настройку широкополосной связи Virgin Media, и, как мы упоминали ранее, вы будете платить более высокую плату за 30-дневные широкополосные сделки, чем если бы вы взяли на себя обязательство в течение года.
						p Если вы переключаетесь с BT или другой сети, которая использует Openreach (в значительной степени все из них), вам нужно прекратить это соединение и заставить Virgin Media установить линию в вашем доме - вы не можете просто переключить ее.
						p QuickStart Virgin должен быть доступен, если ваш дом был подключен к сети Virgin в течение последних трех лет. С QuickStart вы устанавливаете свое оборудование самостоятельно.
					.review-content__text(id="customer_service_section")
						h2.review-content__text__title Обслуживание клиентов
						p В последнем исследовании удовлетворенности клиентов Ofcom клиенты Virgin Media сообщили о самом высоком уровне удовлетворенности своим широкополосным сервисом - 91%. Клиенты также сообщили о более высоком, чем в среднем, уровне удовлетворенности как надежностью (90%), так и скоростью (91%).
						p Тем не менее, у Virgin Media была самая высокая доля пользователей широкополосного доступа, и в 2016 году у них была причина жаловаться - 16% (так же, как TalkTalk).
					.review-content__text(id="conclusions_section")
						h2.review-content__text__title Выводы
						p Virgin Media является лидером в Великобритании по скорости широкополосного доступа. BT работает над поставкой своих сверхбыстрых оптоволоконных соединений со скоростью до 314 Мб - но когда это станет широко доступным, мы не знаем. Мы предполагаем, что это будут годы, а не месяцы.
						p Широкополосный доступ Virgin не только быстрый, но и самый надежный. По сути, это лучшие широкополосные деньги, которые можно купить.
					.review-content__link-wrap
						a.section-arrow__link(href="javascript:void(0)")
							span Перейти к тарифам провайдера
							+svg('icon-arrow')
				aside.review-aside
					.review-aside__inner
						.review-aside__logo
							img(src="s/images/useful/providers/rostelecom.png", alt="rostelecom")
						ul.review-aside__list.h-reset-list
							li
								a(href="#review_section") Обзор
							li
								a(href="#broadband_speeds_section") Широкополосные скорости
							li
								a(href="#router_and_installation_section") Маршрутизатор и установка
							li
								a(href="#customer_service_section") Обслуживание клиентов
							li
								a(href="#conclusions_section") Выводы
						h4.review-aside__title Другие обзоры
						.review-aside__other-reviews
							.review-link__grid
								a.review-link(href="javascript:void(0)")
									img(src="s/images/useful/reviews/tele2.png", alt="tele2")
							.review-link__grid
								a.review-link(href="javascript:void(0)")
									img(src="s/images/useful/reviews/rostelecom.png", alt="rostelecom")
							.review-link__grid
								a.review-link(href="javascript:void(0)")
									img(src="s/images/useful/reviews/mtc.png", alt="mtc")
							.review-link__grid
								a.review-link(href="javascript:void(0)")
									img(src="s/images/useful/reviews/beeline.png", alt="beeline")
							.review-link__grid
								a.review-link(href="javascript:void(0)")
									img(src="s/images/useful/reviews/yota.png", alt="yota")
							.review-link__grid
								a.review-link(href="javascript:void(0)")
									img(src="s/images/useful/reviews/megaphone.png", alt="megaphone")