$pfx: "section-learn";

.#{$pfx} {
    background: url(../../s/images/useful/bg-learn.png) no-repeat;
    padding-top: 100px;
    background-size: cover;
    background-position: center;

    .section-title {
        color: $white;
    }

    &__scrin {
        text-align: center;
        margin-top: 30px;
    }
}