$pfx: "section-learn";

.#{$pfx} {
    background: url(../../s/images/useful/bg-learn.png) no-repeat;
    padding-top: 100px;
    background-size: cover;
    background-position: center;

    .section-title {
        color: $white;
    }

    &__scrin {
        text-align: center;
        margin-top: 30px;
    }

    @media (max-width: $sw-sm-max) {
        padding-top: 60px;
        
        .section-title {
            font-size: 4.7rem;
        }

        .btn {
            white-space: normal;
        }
    }

    @media (max-width: $sw-xs-max) {
        .section-title {
            font-size: 30px;
        }
    }
}