mixin comparison-block(data)
	.comparison-block
		.container
			.comparison-block__inner
				.comparison-block__text
					p В сравнении #[span.comparison-count 0] тарифов
				.comparison-block__btns
					a.btn.btn_white.btn_smh(href="javascript:void(0)") Перейти
					button.btn__reset(type="button") Сбросить