extends _includes/_extends/main

include _includes/components/hero-component/hero-component
include _includes/components/c-forms/c-forms
include _includes/components/contacts-section/contacts-section
include _includes/components/media-text/media-text
include _includes/components/section-best/section-best
include _includes/components/section-number/section-number
include _includes/components/providers/providers
include _includes/components/section-simply/section-simply
include _includes/components/section-learn/section-learn
include _includes/components/section-collapse/section-collapse
include _includes/components/contact-phone/contact-phone

block head
    +head({'title':'«Дом интернет» — Ростов-на-Дону'})

block header
    +header({
        call: true, 
        close: false
    })

block content
    .landing-page
        +hero-component({
            hero_class: 'landing',
            img: 'landing', 
            subtitle: '«Дом интернет» — Ростов-на-Дону',
            title: 'Узнайте, какие тарифы домашнего интернета и ТВ можно подключить по вашему адресу',
            secondary: 'Актуальная база тарифов по адресам с ценами и характеристиками от провайдеров',
            button_class: 'btn_pink',
            submit_text: 'Посмотреть тарифы',
            placeholder: 'Введите улицу и номер дома'
        })
        +media-text({
            title: 'У меня уже есть домашний интернет. Зачем мне смотреть других провайдеров и тарифы?',
            items: [
                {
                    icon: 'graph',
                    body_title: 'Чтобы проверить, используете ли вы максимальную скорость',
                    body_text: 'Вы можете пользоваться старым тарифом со скоростью около 50 Мбит/сек. Но в большинстве городов России уже есть интернет со скоростью 100 Мбит/сек и выше. С новыми тарифами вы будете загружать сайты и скачивать сериалы в разы быстрее.'
                },
                {
                    icon: 'money-box',
                    body_title: 'Чтобы убедиться, что вы не переплачиваете за интернет',
                    body_text: 'У других провайдеров могут быть более дешевые тарифы, но с такой же скоростью, как у вас. Сравните все тарифы по вашему адресу, чтобы экономите на интернете.'
                },
                {
                    icon: 'address',
                    body_title: 'Чтобы быть в курсе всех провайдеров, доступных в вашем доме',
                    body_text: 'Если вас не устраивает ваш текущий интернет, вы можете перейти к другому провайдеру. Проверьте, какие компании есть в вашем доме, и пользуйтесь быстрым и стабильным интернетом.'
                },
                {
                    icon: 'target',
                    body_title: 'Чтобы узнать о выгодных тарифах для новых клиентов',
                    body_text: 'У большинства провайдеров есть выгодные тарифы для новых клиентов. В них снижена цена, но есть дополнительные бонусы и высокая скорость интернета. Узнайте, есть ли такие тарифы по вашему адресу.'
                },
            ]
        })
        +section-best({
            items: [
                {
                    icon: 'like',
                    body_text: 'Самый крупный агрегатор'
                },
                {
                    icon: 'wi-fi',
                    body_text: 'Легко подключить'
                },
                {
                    icon: 'target',
                    body_text: 'Помощь специалистов'
                },
                {
                    icon: 'money-box-orange',
                    body_text: 'Честные цены'
                },
            ]
        })
        +section-number({
            items: [
                {
                    number: '19',
                    text: '19 провайдеров подключено к агрегатору на данный момент'
                },
                {
                    number: '335',
                    text: '335 крупных городов России подключено к агрегатору, более мелких населенных пунктов тысячи'
                },
                {
                    number: '6092',
                    text: '6092 тарифа доступно для выбора пользователям агрегатора'
                },
                {
                    number: '5042',
                    text: '5042 клиентов подключили интернет через агрегатор за полгода'
                },

            ]
        })
        +providers({
            title: 'Провайдеры в Ростове-на-Дону:',
            items: [
                {
                    title: '«Ростелеком» в Ростове-на-Дону',
                    img: 'rostelecom.png',
                    tarifs: [
                        {
                            title: 'Количество тарифов',
                            text: '<b>15</b>'
                        },
                        {
                            title: 'Скорость от',
                            text: '<b>100</b> до <b>300</b> Мбит'
                        },
                        {
                            title: 'Стоимость от',
                            text: '<b>500</b> до <b>1400</b> руб'
                        },
                        {
                            title: 'Первый платеж',
                            text: '<b>с 1 дня</b>'
                        },
                    ]
                },
                {
                    title: '«Ростелеком» в Ростове-на-Дону',
                    img: 'rostelecom.png',
                    tarifs: [
                        {
                            title: 'Количество тарифов',
                            text: '<b>15</b>'
                        },
                        {
                            title: 'Скорость от',
                            text: '<b>100</b> до <b>300</b> Мбит'
                        },
                        {
                            title: 'Стоимость от',
                            text: '<b>500</b> до <b>1400</b> руб'
                        },
                        {
                            title: 'Первый платеж',
                            text: '<b>с 1 дня</b>'
                        },
                    ]
                },
                {
                    title: '«Ростелеком» в Ростове-на-Дону',
                    img: 'rostelecom.png',
                    tarifs: [
                        {
                            title: 'Количество тарифов',
                            text: '<b>15</b>'
                        },
                        {
                            title: 'Скорость от',
                            text: '<b>100</b> до <b>300</b> Мбит'
                        },
                        {
                            title: 'Стоимость от',
                            text: '<b>500</b> до <b>1400</b> руб'
                        },
                        {
                            title: 'Первый платеж',
                            text: '<b>с 1 дня</b>'
                        },
                    ]
                },
                {
                    title: '«Ростелеком» в Ростове-на-Дону',
                    img: 'rostelecom.png',
                    tarifs: [
                        {
                            title: 'Количество тарифов',
                            text: '<b>15</b>'
                        },
                        {
                            title: 'Скорость от',
                            text: '<b>100</b> до <b>300</b> Мбит'
                        },
                        {
                            title: 'Стоимость от',
                            text: '<b>500</b> до <b>1400</b> руб'
                        },
                        {
                            title: 'Первый платеж',
                            text: '<b>с 1 дня</b>'
                        },
                    ]
                },
                {
                    title: '«Ростелеком» в Ростове-на-Дону',
                    img: 'rostelecom.png',
                    tarifs: [
                        {
                            title: 'Количество тарифов',
                            text: '<b>15</b>'
                        },
                        {
                            title: 'Скорость от',
                            text: '<b>100</b> до <b>300</b> Мбит'
                        },
                        {
                            title: 'Стоимость от',
                            text: '<b>500</b> до <b>1400</b> руб'
                        },
                        {
                            title: 'Первый платеж',
                            text: '<b>с 1 дня</b>'
                        },
                    ]
                },
            ]
        })
        +section-simply({
            title: 'Менять провайдера не сложно,<br> потому что...',
            items: [
                {
                    icon: 'call-phone',
                    body_title: 'Не нужно идти в офис провайдера',
                    body_text: 'Старый договор можно расторгнуть по телефону',
                },
                {
                    icon: 'like-blue',
                    body_title: 'Это стоит того',
                    body_text: 'Вы подключите быстрый тариф со стабильным сигналом по выгодной цене',
                },
                {
                    icon: 'router',
                    body_title: 'Не нужно заново тянуть провод в квартиру',
                    body_text: 'Вы подключите быстрый тариф со стабильным сигналом по выгодной цене',
                },
                {
                    icon: 'luppa-gear',
                    body_title: 'Это очень просто',
                    body_text: 'С помощью «Дом Интернет» выбрать оптимальный из всех доступных тарифов можно за пару минут',
                },

            ]
        })
        +section-learn({
            title: 'Узнайте, какие тарифы домашнего интернета есть по вашему адресу прямо сейчас',
            button_class: 'btn_pink',
            submit_text: 'Посмотреть тарифы',
            placeholder: 'Введите улицу и номер дома'
        })
        +section-collapse({
            title: 'У меня вопрос...',
        })
        +contact-phone()