extends _includes/_extends/main
include _includes/components/section-collapse/section-collapse
include _includes/components/contact-phone/contact-phone

block head
    +head({'title':'О Нас'})

block header
    +header({call: true, close: false})

block content
    .order
        .container
            h1 Оформление заказа
            .order__wrap
                .order__wrap_col
                    .order-tarif
                        .order-tarif__img
                            img(src="s/images/useful/rostelecom.png" alt="")
                        .order-tarif__body 
                            h3 “Тест-драйв Игровой”
                            ul
                                li Для занятых домохозяйств с 5-9 устройствами 
                                li Средняя скорость загрузки 6 Мбит/с  
                                li Премиум аккаунт и техника в Wargaming 
                                li Оружие и ежедневные кредиты в Warface
                        span.order-tarif__sail акция #[br] до 12 августа 
                    .order-item
                        .order-item__img
                            +svg('wi-fi')
                            span.order-item__img-title Интернет
                        .order-item__block
                            span.order-item__block-title Скорость
                            span.order-item__block-big 100
                            span.order-item__block-small Мбит/с
                        .order-item__block
                            span.order-item__block-dop Wi-Fi роутер #[span.order-item__block-right включен в стоимость]
                            span.order-item__block-dop Доп. устройство #[span.order-item__block-right 10 #[span.order-item__block-small руб/мес.]]  
                    .order-item
                        .order-item__img
                            +svg('icon-tv')
                            span.order-item__img-title Телевидение
                        .order-item__block
                            span.order-item__block-big 240
                            span.order-item__block-small каналов
                        .order-item__block
                            span.order-item__block-dop Wi-Fi роутер #[span.order-item__block-right включен в стоимость]
                            span.order-item__block-dop Доп. устройство #[span.order-item__block-right 10 #[span.order-item__block-small руб/мес.]]         
                    .order-desc
                        h2.order-desc__title Характеристики тарифа:
                        .order-desc__body
                            p.order-desc__body-item Технология интернета #[span.order-desc__body-prop GPON]
                            p.order-desc__body-item Технология интернета #[span.order-desc__body-prop GPON]
                            p.order-desc__body-item Ежемесячное использование #[span.order-desc__body-prop Неограничено]
                            p.order-desc__body-item Технология интернета #[span.order-desc__body-prop GPON]
                            p.order-desc__body-item Ежемесячное использование #[span.order-desc__body-prop Неограничено]
                            p.order-desc__body-item Мин. продоолжительность контракта #[span.order-desc__body-prop GPON]
                            p.order-desc__body-item Технология интернета #[span.order-desc__body-prop GPON]
                            p.order-desc__body-item Технология интернета #[span.order-desc__body-prop GPON]

                .order__wrap-col
                    .order-form
                        h3.order-form__title Стоимость
                        .order-form__option
                            .order-form__option-title Подключение:
                            .order-form__option-sum 0 #[span руб. мес.]
                        .order-form__option
                            .order-form__option-title Тариф:
                            .order-form__option-sum 650 #[span руб. мес.]
                        .order-form__option
                            .order-form__option-title Аренда Wi-Fi-роутера:
                            .order-form__option-sum 120 #[span руб. мес.]
                        .order-form__option
                            .order-form__option-title Аренда приставки:
                            .order-form__option-sum 120 #[span руб. мес.]
                        .order-form__total
                            .order-form__total-title Итого:
                            .order-form__total-sum 670 #[span руб.]
                        input.order-form__input(type="text", placeholder="Ваше имя")    
                        input.order-form__input(type="text", placeholder="Телефон")
                        <button type="submit" class="btn btn_blue w-100">Подключить тариф</button>
                        p.order-form__polit Отправляя заявку, вы соглашаетесь с #[a(href="#") политикой обработки персональных данных]
                        .order-form__operator #[+svg('phone-red')] Оператор позвонит Вам в ближайшее время для уточнения деталей и согласования даты и времени подключения
    +contact-phone()