extends _includes/_extends/main

include _includes/components/review-section/review-section

block head
	+head({'title':'Обзор провайдера'})

block header
	+header({call: true, close: false})

block content
	+review-section()