extends _includes/_extends/main

include _includes/components/hero-component/hero-component
include _includes/components/c-forms/c-forms
include _includes/components/providers-selection/providers-selection
include _includes/components/section-collapse/section-collapse
include _includes/components/contact-phone/contact-phone

block head
	+head({'title':'Провайдеры по адресу'})

block header
	+header({call: true, close: false})

block content
	+hero-component({
		hero_class: 'hero-md',
		img: 'img9', 
		title: 'Подключайте выгодные тарифы на интернет и ТВ в Санкт&#8209;Петербурге',
		secondary: 'Экономим ваше время при выборе провайдера. Просто введите адрес и получите список лучших предложений, доступных для вашего дома',
		button_class: 'btn_blue',
		submit_text: 'Найти',
		placeholder: 'Введите ваш адрес'
	})
	+providers-selection({
		items: [
			{
				icon: 'icon-address',
				title: 'Проверка по адресу',
				text: 'Подскажем, какие провайдеры подключены к вашему дому.'
			},
			{
				icon: 'icon-time',
				title: 'Экономия времени',
				text: 'Поможем за 7 минут выбрать подходящего для вас оператора'
			},
			{
				icon: 'icon-person',
				title: 'Персональный подход',
				text: 'Подберём выгодный тариф с учетом ваших пожеланий'
			}
		]
	})
	+section-collapse({
		title: 'Мы делаем поиск подходящей широкополосной связи, телевидения или мобильной связи простым делом'
	})
	+contact-phone()