extends _includes/_extends/main

include _includes/components/hero-component/hero-component
include _includes/components/c-forms/c-forms
include _includes/components/cta-section/cta-section
include _includes/components/providers-list/providers-list
include _includes/components/contact-phone/contact-phone

block head
	+head({'title':'Обзоры'})

block header
	+header({call: true, close: false})

block content
	+hero-component({
		hero_class: 'hero-custom',
		img: 'img11', 
		title: 'Обзоры провайдеров в Санкт&#8209;Петербурге',
		secondary: 'Экономим ваше время при выборе провайдера. Просто введите адрес и получите список лучших предложений, доступных для вашего дома'
	})
	+cta-section({reviews: true})
	+providers-list({title: 'Тарифы провайдеров в Санкт&#8209;Петербурге'})
	+contact-phone()