mixin section-simply(data)
    .section-simply
        .container
            h2.section-title!= data.title
        .section-simply__wrap
            .container
                .section-simply__wrap-col
                    .media-text__wrap
                        each item in data.items
                            .media-item
                                .media-item__img
                                    +svg(item.icon)
                                .media-item__body
                                    h3.media-item__body-title!= item.body_title
                                    p.media-item__body-text!= item.body_text