$pfx: "section-simply";

.#{$pfx} {
    background: #FBFBFB url(../../s/images/useful/bg-simply.jpg) no-repeat;
    background-size: contain;
    background-position: right bottom;
    margin-bottom: 80px;

    .section-title {
        margin-bottom: 45px;
    }

    &__wrap {
        padding: 50px 0;

        &-col {
            width: 700px;
            max-width: 100%;
        }
    }
}