mixin cite-map-section(data)
	.cite-map-section
		.container
			.cite-map__topic
				h1.cite-map__title Карта сайта
				button.cite-map__close(type="button")
					+svg('icon-close')
			.cite-map__links
				a.cite-map__link(href="javascript:void(0)") Главная
				a.cite-map__link(href="javascript:void(0)") Тарифы
				a.cite-map__link(href="javascript:void(0)") Обзоры
				a.cite-map__link(href="javascript:void(0)") Выбор города
				a.cite-map__link(href="javascript:void(0)") Провайдеры по адресу
				a.cite-map__link(href="javascript:void(0)") Контакты
				a.cite-map__link(href="javascript:void(0)") О нас
				a.cite-map__link(href="javascript:void(0)") Заявка на подключение
				a.cite-map__link(href="javascript:void(0)") Стать партнеров
				a.cite-map__link(href="javascript:void(0)") Соглашение об обработке персональных данных
				a.cite-map__link(href="javascript:void(0)") Поиск
			.cite-map__providers
				h2.cite-map__subtitle Провайдеры
				.cite-map__providers__wrap
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
					a.cite-map__providers__link(href="javascript:void(0)") Название провайдера
			.cite-map__link-wrap
				a.section-arrow__link(href="javascript:void(0)")
					span На главную
					+svg('icon-arrow')